<html>
    <head>
        <title>Project: Recipe book</title>
        <meta charset="utf-8">
        <style>
        </style>
    </head>
    <body>
        <h1>{{name}}'s Recipe Book</h1>
        <h2>On {{startdate}} you burned {{calorieTrim}} calories:</h2>
        <h2>Your Recommended Dinner:</h2>
        <h2 id="?">{{recipeName}}</h2>
        <ol>
            <img src="{{photourl}}" alt="{Picture}" style="width:400px;height:300px;">
        </ol>
</p>
    <p><em>Recipe Source: <a href="{{recipeURL}}">{{recipeName}}</a></em></p>
    </body>
    <p><a href='/'>Enter a different date?</a></p>
</html>
